{* Get all views *}
<h3>{L_VIEWS}</h3>
<br>
<table class="table table-striped" style="width: 100%">
	<tr>
		<th style="width: 5%">#</th>
		<th style="width: 15%">{L_ALIAS}</th>
		<th style="width: 15%">{L_TITLE}</th>
		<th style="width: 50%">{L_CONTENT}</th>
		<th style="width: 15%">{L_IS_PUBLISHED}</th>
	</tr>
	<tr>
		<td style="width: 5%">{$id}</td>
		<td style="width: 15%">{$alias}</td>
		<td style="width: 15%">{$title}</td>
		<td style="width: 50%">{$content}</td>
		<td style="width: 15%">{$is_published}</td>
	</tr>
</table>